body {
    font-family: 'Arial', sans-serif;
    background-color: #fff;
    color: #333;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

h2 {
    font-size: 2rem;
    color: #80D0FF;
    margin-bottom: 1.5rem;
}

.index {
    list-style: none;
}

li {
    font-size: 1.25rem;
    line-height: 1.5;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 420px;
    padding-top:3px;
    padding-bottom:3px;
}

a {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    color: #fff;
    background-color: #80D0FF;
    border-radius: 30px;
    transition: background-color 0.2s;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    background-color: #40B0FF;
}

.pagination-item {
    margin: 0 5px;
    padding: 5px 10px;
    border-radius: 30px;
    background-color: #f0f0f0;
    text-decoration: none;
    color: black;
}

.pagination-item:hover {
    background-color: #ddd;
}

input.title {
    width: 400px;
    height: 25px;
}

input.ingredient {
    width: 400px;
    height: calc(1.25em * 6);
    line-height: 1.25;
}

input.content {
    width: 400px;
    height: calc(1.25em * 10);
    line-height: 1.25;
}

button {
    font-family: 'Arial', sans-serif;
    font-size: 1rem;
    border: none;
    box-shadow: none;
    display: block;
    border-radius: 30px;
    color: #fff;
    background-color: #80D0FF;
    font-weight: bold;
    border-radius: 30px;
    width: 80px;
    height: 50px;
}

button:hover {
    background-color: #40B0FF;
}

.button-container {
    display: flex;
    justify-content: center;
}

.form-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
  width: 600px;
  list-style: none;
}

.content_textbox {
  width: 400px;
  list-style: none;
}

.content ol {
  counter-reset: count 0;
  list-style-type: none;
}
.content li:before {
  font-size: 1rem;
  content: counter(count) ". ";
  counter-increment: count 1;
}
.content li {
  font-size: 1rem;
}

.ingredient {
  width: 600px;
  list-style: none;
}

.ingredient_textbox {
  width: 400px;
  list-style: none;
}

.ingredient ul {
  display: inline-block;
  text-align: center;
}

.ingredient li:before {
  content: "・";
}

.ingredient li {
  font-size: 1rem;
}

#flush_success {
    width: 100%;
    padding-top: 28px;
    padding-left: 2%;
    padding-bottom: 28px;
    margin-bottom: 15px;
    color: #777777;
    background-color: #FFFFDD;
}

.dark-mode {
    background-color: #333;
    color: #fff;
}

.darkmode-button {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    color: #fff;
    background-color: #80D0FF;
    border-radius: 30px;
    transition: background-color 0.2s;
    text-decoration: none;
    font-weight: bold;
    width: 220px;
}